.bookingMovie {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: none;
  background-image: url("./bgmovie.jpg");
}
.gheThuong {
  @apply bg-gray-300 h-10 w-10 leading-10 text-center rounded-md;
}
.gheVip {
  @apply bg-orange-400 h-10 w-10 leading-10 text-center rounded-md;
}
.gheDaDat {
  @apply !cursor-none !bg-gray-800 text-white h-10 w-10 leading-10 text-center rounded-md;
}
